.main-content {
    width: 100%;
    background-color: var(--black);
    height: auto;
    margin-top: 45px;
    z-index: 3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background:
      radial-gradient(#383434 49%,#0000 50%) calc(79px/-2) calc(79px/2),
      repeating-conic-gradient(from 45deg,#000000 0 25%,#0000 0 50%)
        calc(79px/2) calc(79px/2),
      radial-gradient(#383434 49%,#0000 50%),radial-gradient(#383434 49%,#0000 50%) 79px 79px #000000;
    background-size: calc(2*79px) calc(2*79px);
}
.about-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    gap: 10px;
}
.about-item-title {
    font-weight: bold;
    font-size: 25px;
    color: var(--white);
}
.about-item-text {
    font-weight: normal;
    font-size: 18px;
    color: var(--white);
}
.about-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-title-text {
    font-size: 25px;
    font-weight: bold;
    color: var(--orange);
}
.my-image-tag {
    width: 400px;
}
.about-wrapper {
    padding: 50px;
    display: flex;
    gap: 15px;
}
.about-short-description {
    color: var(--white);
}
@media screen and (max-width: 767px) {
    .main-content {
        border-radius: 0;
        margin-top: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .about-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 525px) {
    .my-image-tag {
        width: 300px;
    }
    .about-item-title {
        font-size: 20px;
    }
    .about-item-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .about-item-title {
        font-size: 18px;
    }
    .about-item-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .my-image-tag {
        width: 200px;
    }
}