@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes turn90 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes turn-90 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes appearLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes appearRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}