.projects-wrapper {
    padding: 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.projects-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.project-url { 
    color: var(--orange);
}