<div class="about-wrapper" id="about">
    <div class="about-main-title">
        <p class="about-title-text">About Me</p>
        <br>
        <p class="about-short-description">Hello, it's me Ruben! I have been studying web technologies and more since I was 14 years old. I have made many interesting projects that I will be glad to show you below. I can say about myself that I love learning something new and communicating with people!</p>
    </div>
    <div class="about-container">
        <div class="about-item-container">
            <p class="about-item-title">Born in:</p>
            <p class="about-item-text">Yerevan</p>
        </div>
        <div class="about-item-container">
            <p class="about-item-title">Born on:</p>
            <p class="about-item-text">15 August 2006</p>
        </div>
        <div class="about-item-container">
            <p class="about-item-title">Nationality:</p>
            <p class="about-item-text">Armenian</p>
        </div>
    </div>
</div>  