{% from "components/global.html" import about_element %}

<div class="about-wrapper" id="about">
    <div class="my-image">
        <img src="https://img.freepik.com/free-photo/handsome-bearded-guy-posing-against-white-wall_273609-20597.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1719619200&semt=sph" alt="me">
    </div>
    <div class="about-me-info">
        <div class="about-main-title">
            <p class="about-title-text">About Me</p>
            <br>
            <p class="about-short-description">Hello, it's me Ruben! I have been studying web technologies and more since I was 14 years old. I have made many interesting projects that I will be glad to show you below. I can say about myself that I love learning something new and communicating with people!</p>
        </div>
        <div class="about-container">
            {{ about_element("Born in", "Yerevan") }}
            {{ about_element("Born on", "15 August 2006") }}
            {{ about_element("Nationality", "Armenian") }}
            </div>
        </div>
    </div>
</div> 