{% from "components/global.html" import about_element %}

<div class="about-wrapper" id="about">
    <div class="my-image">
        <img class="my-image-tag" src="{{ url_for("static", filename="images/about-image.png") }}" alt="me">
    </div>
    <div class="about-me-info">
        <div class="about-main-title">
            <p class="about-title-text">About Me</p>
            <br>
            <p class="about-short-description">{{ elements[2].text }}</p>
        </div>
        <div class="about-container">
            {{ about_element(elements[3].text, elements[3].subText) }}
            {{ about_element(elements[4].text, elements[4].subText) }}
            {{ about_element(elements[5].text, elements[5].subText) }}
        </div>
    </div>
</div> 