<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/admin" class="nav-link px-2 link-secondary">Welcome to the admin page</a></li>
            </ul>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="admin-photo-container"><i class="fa-solid fa-user-tie"></i></div>
                </a>
                <ul class="dropdown-menu text-small">
                    <li class="dropdown-item dropdown-dashboard-element"><a href="/admin/introduction" class="dashboard-element-link"><i class="fa-solid fa-newspaper"></i>introduction</a></li>
                    <li class="dropdown-item dropdown-dashboard-element"><a href="/admin/about" class="dashboard-element-link"><i class="fa-solid fa-address-card"></i>about</a></li>
                    <li class="dropdown-item dropdown-dashboard-element"><a href="/admin/skills" class="dashboard-element-link"><i class="fa-solid fa-star"></i>skills</a></li>
                    <li class="dropdown-item dropdown-dashboard-element"><a href="/admin/projects" class="dashboard-element-link"><i class="fa-solid fa-diagram-project"></i>projects</a></li>
                    <li class="dropdown-item dropdown-dashboard-element"><a href="/admin/experience" class="dashboard-element-link"><i class="fa-solid fa-clock"></i>experience</a></li>
                    <li class="dropdown-item dropdown-dashboard-element"><a href="/admin/contacts" class="dashboard-element-link"><i class="fa-solid fa-phone"></i>contacts</a></li>
                    <li class="dropdown-divider dropdown-dashboard-element"></li>
                    <li><a class="dropdown-item" href="/admin/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>