{% from "components/global.html" import nav_link, mobile_nav_link %}
<header class="container thin">
    <div class="inner-container">
        <ul class="content-wrapper">
            {{ nav_link("HOME") }}
            {{ nav_link("ABOUT", "about") }}
            {{ nav_link("SKILLS", "skills") }}
            <li class="element-container container logo-container">
                <p class="nav-logo">
                    RUBEN
                </p>
            </li>
            {{ nav_link("PROJECTS", "projects") }}
            {{ nav_link("EXPERIENCE", "experience") }}
            {{ nav_link("CONTACTS", "contacts") }}
            <li class="element-container container nav-menu-container">
                <div class="gg-menu" id="nav-menu-button">
                </div>
            </li>
        </ul>
        <div class="mobile-nav-container" id="mobile-nav">
            <ul class="content-wrapper mobile-nav-inner-container">
                {{ mobile_nav_link("HOME") }}
                {{ mobile_nav_link("ABOUT", "about") }}
                {{ mobile_nav_link("SKILLS", "skills") }}
                {{ mobile_nav_link("PROJECTS", "projects") }}
                {{ mobile_nav_link("EXPERIENCE", "experience") }}
                {{ mobile_nav_link("CONTACTS", "contacts") }}
            </ul>
        </div>
    </div>
</header>