<header class="container thin">
    <div class="inner-container">
        <ul class="content-wrapper">
            <li class="element-container container">
                <div class="element-inner-container container">
                    <a href="#" class="nav-link">
                        <p class="nav-title">
                            HOME
                        </p>  
                    </a>
                </div>
            </li>
            <li class="element-container container">
                <div class="element-inner-container container">
                    <a href="#about" class="nav-link">
                        <p class="nav-title">
                            ABOUT
                        </p>
                    </a>
                </div>
            </li>
            <li class="element-container container">
                <div class="element-inner-container container">
                    <a href="#skills" class="nav-link">
                        <p class="nav-title">
                            SKILLS
                        </p>
                    </a>
                </div>
            </li>
            <li class="element-container container logo-container">
                <p class="nav-logo">
                    RUBEN
                </p>
            </li>
            <li class="element-container container">
                <div class="element-inner-container container">
                    <a href="#projects" class="nav-link">
                        <p class="nav-title">
                            PROJECTS
                        </p>
                    </a>
                </div>
            </li>
            <li class="element-container container">
                <div class="element-inner-container container">
                    <a href="#experience" class="nav-link">
                        <p class="nav-title">
                            EXPERIENCE
                        </p>
                    </a>
                </div>
            </li>
            <li class="element-container container">
                <div class="element-inner-container container">
                    <a href="#contacts" class="nav-link">
                        <p class="nav-title">
                            CONTACTS
                        </p>
                    </a>
                </div>
            </li>
            <li class="element-container container nav-menu-container">
                <div class="gg-menu" id="nav-menu-button">
                </div>
            </li>
        </ul>
    </div>
</header>