{% extends "carcass/section_base.html" %}


{% block scroll_id %}skills{% endblock  %}
{% block title %}My Skills{% endblock %}

{% block cards %}
    <div class="skills-element-container">
        <div class="skills-element-background">
            <div class="skills-title-container">
                <p class="skills-title">
                    Node/Express JS
                </p>
            </div>
            <hr>
            <div class="skills-content-container">
                <p class="short-description">
                    my first steps in backend development. I managed to create an authorization system and more. Actually Express JS is a very suitable technology if you want to create something quickly and easily.
                </p>
            </div>
        </div>
    </div>
{% endblock %}