<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <ul class="dashboard-elements-container">
            <li class="dashboard-element"><a href="/admin/introduction" class="dashboard-element-link"><i class="fa-solid fa-newspaper"></i>introduction</a></li>
            <li class="dashboard-element"><a href="/admin/about" class="dashboard-element-link"><i class="fa-solid fa-address-card"></i>about</a></li>
            <li class="dashboard-element"><a href="/admin/skills" class="dashboard-element-link"><i class="fa-solid fa-star"></i>skills</a></li>
            <li class="dashboard-element"><a href="/admin/projects" class="dashboard-element-link"><i class="fa-solid fa-diagram-project"></i>projects</a></li>
            <li class="dashboard-element"><a href="/admin/experience" class="dashboard-element-link"><i class="fa-solid fa-clock"></i>experience</a></li>
            <li class="dashboard-element"><a href="/admin/contacts" class="dashboard-element-link"><i class="fa-solid fa-phone"></i>contacts</a></li>
        </ul>
    </div>
</div>