{% macro description(text, id, subText="") -%}
    <div class="introduction-quote-container" id="{{ id }}">
            <div class="introduction-quote-text">
                {% if subText %}
                    <p class="bold">
                        {{ text }}
                    </p>  
                    <p>{{ subText }}</p>
                {% else %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </div>
{%- endmacro %}
{% macro nav_link(text, link="") -%}
    <li class="element-container container">
        <div class="element-inner-container container">
            <a href="#{{ link }}" class="nav-link">
                <p class="nav-title">
                    {{ text }}
                </p>
            </a>
        </div>
    </li>
{%- endmacro %}
{% macro about_element(title, text) %}
    <div class="about-item-container">
        <p class="about-item-title">{{ title }}:</p>
        <p class="about-item-text">{{ text }}</p>
    </div>
{% endmacro %}