{% macro description(text, id, subText="") -%}
    <div class="introduction-quote-container" id="{{ id }}">
            <div class="introduction-quote-text">
                {% if subText %}
                    <p class="bold">
                        {{ text }}
                    </p>  
                    <p>{{ subText }}</p>
                {% else %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </div>
{%- endmacro %}
{% macro nav_link(text, link="") -%}
    <li class="element-container container">
        <div class="element-inner-container container">
            <a href="#{{ link }}" class="nav-link">
                <p class="nav-title">
                    {{ text }}
                </p>
            </a>
        </div>
    </li>
{%- endmacro %}
{% macro about_element(title, text) %}
    <div class="about-item-container">
        <p class="about-item-title">{{ title }}:</p>
        <p class="about-item-text">{{ text }}</p>
    </div>
{% endmacro %}
{% macro dashboard_title(need_button, route="", title="Dashboard", sub_title="") -%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
        {% if sub_title %}<h3>#id: {{ sub_title }}</h3>{% endif %}
        {% if need_button %}
            <div class="add-new-item-container">
                <a href="/admin/{{ route }}/create" class="tool-link">
                    <div class="add-new-item-circle">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
{%- endmacro %}
{% macro input(type, label, name, placeholder="", value="") -%}
    <div class="form-floating">
        <input type="{{ type }}" value="{{ value | e }}" name="{{ name }}" class="form-control" id="{{ name }}" placeholder="{{ placeholder }}">
        <label for="{{ name }}">{{ label }}</label>
    </div>
{%- endmacro %}
{% macro button(type, text, style="primary") -%}
    <button class="btn btn-{{ style }} w-100 py-2" type="{{ type }}">{{ text }}</button>
{%- endmacro %}
{% macro url_button(text, url, style="primary") -%}
    <a class="btn btn-{{ style }} w-100 py-2" href="{{ url }}">{{ text }}</a>
{%- endmacro %}
{% macro form_input(type, label, name, col=12, placeholder="", value="") %}
    <div class="col-sm-{{ col }}">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
    </div>
{% endmacro %}
{% macro form_textarea(label, name, rows=5, placeholder="", value="") %}
    <div class="col-12">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <div class="input-group has-validation">
            <textarea rows="{{ rows }}" style="resize: none;" class="form-control" id="{{ name }}" placeholder="{{ placeholder }}" name="{{ name }}">{{ value }}</textarea>
        </div>
    </div>
{% endmacro %}
{% macro info(title, info) %}
    <div class="d-flex" style="gap: 5px;"><h5>{{ title }}</h5><span> | {{ info }}</span></div>
{% endmacro %}
{% macro card_button(url, text="github") %}
    <div class="card-button-container">
        <a href="{{ url }}" class="card-button-url"><p>{{ text }}</p><i class="card-button-icon fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
{% endmacro %}
{% macro mobile_nav_link(text, link="") -%}
    <li class="container">
        <div class="mobile-element-inner-container container">
            <a href="#{{ link }}" class="mobile-nav-link">
                <p>
                    {{ text }}
                </p>
            </a>
        </div>
    </li>
{%- endmacro %}
{% macro section_title(title) %}
    <div>
        <p class="section-title-text">{{ title }}</p>
    </div>
{% endmacro %}