{% macro description(text, id, subText="") -%}
    <div class="introduction-quote-container" id="{{ id }}">
            <div class="introduction-quote-text">
                {% if subText %}
                    <p class="bold">
                        {{ text }}
                    </p>  
                    <p>{{ subText }}</p>
                {% else %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </div>
{%- endmacro %}
{% macro nav_link(text, link="") -%}
    <li class="element-container container">
        <div class="element-inner-container container">
            <a href="#{{ link }}" class="nav-link">
                <p class="nav-title">
                    {{ text }}
                </p>
            </a>
        </div>
    </li>
{%- endmacro %}
{% macro about_element(title, text) %}
    <div class="about-item-container">
        <p class="about-item-title">{{ title }}:</p>
        <p class="about-item-text">{{ text }}</p>
    </div>
{% endmacro %}
{% macro dashboard_title(need_button, route="") -%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        {% if need_button %}
            <div class="add-new-item-container">
                <a href="/admin/{{ route }}/create" class="tool-link">
                    <div class="add-new-item-circle">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
{%- endmacro %}
{% macro input(type, label, name, placeholder="", value="") -%}
    <div class="form-floating">
        <input type="{{ type }}" value="{{ value | e }}" name="{{ name }}" class="form-control" id="{{ name }}" placeholder="{{ placeholder }}">
        <label for="{{ name }}">{{ label }}</label>
    </div>
{%- endmacro %}
{% macro button(type, text) -%}
    <button class="btn btn-primary w-100 py-2" type="{{ type }}">{{ text }}</button>
{%- endmacro %}